<div class="component_listing">
    <div class="row">
      <div class="card" style="width: 22rem;">
        <img src="{{product.img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <ul class="list-unstyled">
            <li>Tên : {{product.name}}</li>
            <li>chi tiết : {{product.desc}}</li>
            <li>giá bán : {{product.price}}</li>
            <li>Status : {{product.isMarried ? 'đã có gia đình' : 'chưa có gia đình'}}</li>
          </ul>
          <button class="btn btn-primary" (click)="onClickMe($event)">đặt hàng</button>
        </div>
      </div>

      
     

    </div>
  </div>